body {
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
	margin:0;
	padding:0;
    overflow: hidden;
}
.wraps{
    position: relative;
    left: 0;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
}
.wraps.close{
    left: -100vw;
}
.wraps.open{
    left: 100vw;
}
nav {
    position: fixed;
    top: 0;
    height: 40px;
    background-color: #000;
    width: 100vw;
    z-index: 99;
    opacity: 1;
    box-shadow: 0px 0px 5px #000;
}
nav ul{margin:0;padding: 0;max-height: 40px;}
nav li{
    color: #fff;
    display: inline-block;
    margin:0;
    padding:0;
    min-width: 100px;
    vertical-align: top;
}
nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    display: block;
    text-align: center;
}
nav li a:hover,nav li a.link-active.selected{background-color: red;}
nav li a.link-active{
    line-height: 1.1em;
    height: 30px;
    vert-align: middle;
    padding: 5px 0;
}
#nav1:hover,#nav1.selected{background-color: orangered;}
#nav2:hover,#nav2.selected{background-color: #DDDDDD;color: #000000;}
#nav3:hover,#nav3.selected{background-color: #767A7F;}
#nav4:hover,#nav4.selected{background-color: aqua;color: #000000;}
#home{background-color: #BBBBBB}
#page1{background-color: #DDDDDD;}
#page2{background-color: #767A7F;color: #FFFFFF;}
#page3{background-color: aqua}
#home,#page1,#page2,#page3{box-shadow: 0px 0px 15px #000;}

.scrolling-box {
    background: #eaeaea none;
    background-size: cover;
    display: block;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: center;
    width: 100vw;
    overflow-x: hidden;
}
.scrolling-box.bg0{
    background-image:url('/webpractice/assets/images/ads0.jpg');
    background-position: center;
}
.scrolling-box.bg1{
    background-image:url('/webpractice/assets/images/ads1.jpg');
    background-position: top left;
}
.scrolling-box.bg2{
    background-image:url('/webpractice/assets/images/ads2.jpg');
    background-position: top left;
}
.scrolling-box.bg3{
    background-image:url('/webpractice/assets/images/ads3.png');
    background-position: center;
}
section {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
section.ads{
    height:70vh;
}
section h1{
    line-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-size: 40px;
}
.slides-container{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}
#slides{
    width: 300vw;
    height: 100vh;
    position: absolute;

}
.s1{background: darkgoldenrod url('/webpractice/assets/images/slide1.jpg') left top / cover no-repeat;}
.s2{background: brown url('/webpractice/assets/images/slide2.jpg') left top / cover no-repeat;}
.s3{background: chocolate url('/webpractice/assets/images/slide3.jpg') left top / cover no-repeat;}
.slide{
    width: 100vw;
    height: 100vh;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    color: #fff;
    line-height: 100vh;
}
#nav1{background-size:auto 85vh;}

#slides.show0{
    left: 0vw;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
}
#slides.show1{
    left: -100vw;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
}
#slides.show2{
    left: -200vw;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
}
#nav-slide{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 20px;
    color:#000;
    background-color: yellow;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 3px #444;
    line-height: 40px;
}
#nav-slide:hover{
    background-color: gold;
}
#nav-slide.pause{
    background-color: red;
    color: #EEEEEE;
}
#nav-slide.pause:hover{
    background-color: darkred;
    color: #EEEEEE;
}
#nav-number-slide{
    position: absolute;
    bottom: 0;
    right: 100px;
    margin-bottom: 20px;
}
#nav-number-slide .number-slide{
    display: inline-block;
    border-radius:20px;
    line-height: 40px;
    width: 40px;
    background-color: gainsboro;
    color: #000;
    margin-left: 5px;
    box-shadow: 0px 0px 3px #000;
    cursor: pointer;
    opacity: .8;
}
#nav-number-slide .number-slide:hover{
    opacity: 1;
}
#nav-number-slide .number-slide.selected{
    background-color: #767A7F;
    color: #FFFFFF;
}
.footer{
    background-color: black;
    color: #EEEEEE;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100vw;
    display: block;
}

#page1 a{
    text-decoration: none;
    display: block;
    height:40px;
    line-height: 40px;
    margin:40px;
    border-radius:10px;
    color:orange;
}
#page1 .json-container{
    display:block;
    width:100vw;
}
.menuList{
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
}
.menuList:hover{
    background-color: orange;
}
.menuList img{
    width: 25px;
    height: 25px;
    opacity: .8;
    margin: 7px;
}
.menuContent{
    display: none;
    position: fixed;
    width: 50vw;
    border-radius: 5px;
    background-color: #EEEEEE;
    right: 10px;
    top: 45px;
    z-index: 99;
    overflow: hidden;
}
.menuContent a{
    text-decoration: none;
    color: black;
    display: block;
    line-height: 40px;
    padding:0px 10px;
    border-bottom: 1px dotted white;
}
.menuContent a:hover{
    background-color: orange;
}
.menuContent div:last-child a{
    border-bottom: none;
}
.scrolling-box.infinite {
    background: #111111;
    color: #EEEEEE;
    text-align: left;
}
.scrolling-box.infinite h1{
    font-size: 10vw;
    min-height: 70vh;
    margin-top: 20vh;
}
.navButton{position: fixed}
.add-page{
    height: 100vh;
    display: block;
    width: 100vw;
    border-bottom: 1px dotted #444444;
}
.add-page:nth-of-type(even){background-color: #222222;}
.add-page:nth-of-type(odd){background-color: #444444;}
#last-page{
    display: block;
    height: 50vh;
    background-color: greenyellow;
}
.scrolling-box.infinite .navButton a{
    text-decoration: none;
    color: #EEEEEE;
    background-color: red;
    padding: 5px 20px;
    margin-top: 1em;
    display: block;
    text-align: center;
}
.scrolling-box.infinite span{
    font-size: .8em;
    color: orange;
}
.arrow-button{
    position: fixed;
    margin-left: 50vw;
    bottom: 0;
    height: 50px;
}
.arrow-button a{
    text-decoration: none;
    color: black;
    position: absolute;
    z-index: 1;
    display: block;
    width: 100px;
    text-align: center;
    margin-left: -50px;
    line-height: 50px;

}
.arrow{
    background-color: greenyellow;
    position: absolute;
    width: 100px;
    height:100px;
    margin-left: -50px;
    transform: rotate(45deg);
}
@media only screen and (max-width:401px){
    nav li.desktop{display: none;}
    body{font-size: 1.2em;}
    .menuList{display: block;}
    .menuContent.show{display: block;}
    .scrolling-box.infinite h1{
        font-size: 20vw;
        min-height: 50vh;
        margin-top: 20vh;
    }
    .add-page,#last-page{
        font-size: 2em;
    }
    .scrolling-box.infinite .navButton a{
        font-size: 1.2em;
    }
}
@media only screen and (min-width:400px){
    nav li.desktop{display: inline-block;}
    body{font-size: 13px;}
    .menuList{display: none;}
    .menuContent.show{display: none;}
    .scrolling-box.infinite h1{
        font-size: 10vw;
        min-height: 50vh;
        margin-top: 20vh;
    }
    .add-page,#last-page{
        font-size: 5em;
    }
    .scrolling-box.infinite .navButton a{
        font-size: 2.5em;
    }
}
